apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: my-custom-app
  namespace: argocd
spec:
  source:
    plugin:
      name: my-custom-plugin      # This is the custom plugin you defined
    repoURL: https://github.com/panduraju50/argocd-example-apps.git    # Git repository URL containing your code
    targetRevision: HEAD          # The branch, tag, or commit to deploy
    path: blue-green        # Path to the directory in the repo
  destination:
    server: https://kubernetes.default.svc  # Kubernetes API endpoint
    namespace: default                      # Kubernetes namespace to deploy to
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
